@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scrollbar width */
::-webkit-scrollbar {
  width: 15px;
}

/* Scrollbar track */
::-webkit-scrollbar-track {
  border-radius: 50px;
  outline: solid 4px;
}

/* Scrollbar thumb*/
::-webkit-scrollbar-thumb {
  background: #f62b1e;
  border-radius: 50px;
}
